@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

:root {
  --bg-color: #eaf7ec;      
  --accent-gray: #e2d9d9;   
  --soft-pink: #deafc2;     
  --magenta: #d480bb;       
  --purple-main: #a775c9;   
  --white: #ffffff;
  --font-main: 'Cause', sans-serif;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-main);
  background-color: var(--bg-color);
  color: #333;
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

#app {
  width: 100%;
  max-width: 750px;
}

/* Tarjeta Principal */
.card {
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(167, 117, 201, 0.1);
  border: 1px solid var(--accent-gray);
  margin-bottom: 25px;
}

.InputText label, .InputRadio label, .InputSelect label {
  display: block;
  font-weight: 700;
  margin-bottom: 8px;
  color: var(--purple-main);
  font-size: 1.1rem;
}

/* Inputs y Selects */
input[type="text"], select {
  font-family: var(--font-main);
  width: 100%;
  padding: 12px 15px;
  border: 2px solid var(--accent-gray);
  border-radius: 10px;
  font-size: 1rem;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

input[type="text"] {
  outline: none;
  border-color: var(--purple-main);
  box-shadow: 0 0 8px rgba(167, 117, 201, 0.2);
}

.label {
  text-align: center;
}

/* Estilo para los Radios */
.InputRadio {
  background: #fdfbff;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.radio-group {
  display: flex;
  gap: 25px;
  font-weight: 400;
}

.radio-group label {
  color: #555;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Botones */
.btn {
  font-family: var(--font-main);
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
  color: white;
}

.btn-registrar {
  background-color: var(--purple-main);
}

.btn-registrar:hover {
  background-color: #8e5fb3;
  transform: scale(1.02);
}

.btn-mostrar {
  background-color: var(--soft-pink);
  max-width: 250px;
  margin: 20px auto;
  display: block;
  color: #5a3d4a;
}

.btn-mostrar:hover {
  background-color: var(--magenta);
  color: white;
}

/* Tabla */
.table-wrapper {
  overflow-x: auto;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--white);
  font-family: var(--font-main);
}

th {
  background-color: var(--magenta);
  color: white;
  padding: 18px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

td {
  padding: 14px;
  text-align: center;
  border-bottom: 1px solid var(--bg-color);
}

tr:hover {
  background-color: #fff9fe;
}

hr {
  border: 0;
  height: 2px;
  background: var(--accent-gray);
  margin: 30px 0;
  opacity: 0.5;
}